.wrapper{
    display: flex;
    }
    
    .center {
    margin-left:-1px;
    flex: 1;
    }
    
    .right{
    width:350px;
    right:0;
    height:auto;
    background-color: #ffffff;
    border-left: 1px solid grey;
    }