h1 {
    text-align: center;
    margin: 1em;
  }

/*.nav-pills .nav-link{
    border-radius: 0;
    color: dc3545;
    background-color: white;
    color:#a1a1a1 ;
}*/

/*.nav-pills .nav-item:not(:nth-last-child(1)) .nav-link{
    border-right: 1px solid white;
}*/


.nav-pills .nav-link{
  color: #a1a1a1;
  background-color: white;
}

.tab-content{
    background-color: #f9fafb;
    border: 1px solid #dddddd ; 
}

/*.nav-pills .nav-item.show .nav-link, .nav-pills .nav-link.active {
    color: #dc3545;
    background-color: white;
    border-top: #FFFFFF;
    border-right: #FFFFFF;
    border-left: #FFFFFF;
    border-bottom: 3px solid #dc3545;
}*/

#wrapper{
  display: flex;
}

#center {
  margin-left:1px;
  margin-right: 290px;
  flex: 1;
}

#right{
  width:350px;
  right:0;
  height:77.7vh;
  margin-bottom: 25%;
  position:absolute;
  top:0.5;
  background-color: #efe6e6;
}

#Bin{
  margin-top: 55%;
}