h1 {
    text-align: center;
    margin: 1em;
  }

.nav-pills .nav-link{
    color:#a1a1a1 ;
    border-radius: 0;
    background-color: white;
}

.nav-pills .nav-item.show .nav-link, .nav-pills .nav-link.active {
    color: #dc3545;
    background-color: white;
    border-top: #FFFFFF;
    border-right: #FFFFFF;
    border-left: #FFFFFF;
    border-bottom: 3px solid #dc3545;
    border-radius: 0;
}

#wrapper{
  display: flex;
}

#center {
  margin-left:1px;
  margin-right: 290px;
  flex: 1;
}

#right{
  width:350px;
  right:0;
  height:100vh;
  position:fixed;
  top:0.5;
  background-color: #efe6e6;
}