@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&display=swap&family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,900&display=swap");

* {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html {
  background-color: #f1f0f5;
}

#parent {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}

.table-e-cell {
  width: calc(35% / 199900000);
}

.table-e-header {
  font-weight: 400;
  text-align: start;
  color: #808080;
  white-space: nowrap;
  font-size: medium;
  padding: 0.6rem;
}

.order-list {
  display: block;
}

.table-e-cell {
  padding: 0.2rem;
  border-top: 1pt solid #dee2e6;
}

.user-id,
.user-username,
.user-email,
.user-address,
.user-role {
  font-family: "Noto Sans", sans-serif;
  font-weight: 500;
  text-align: start;
  font-size: medium;
}

.user-username {
  position: relative;
  top: -3px;
}

.user-id {
    position: relative;
    top: 1px;
}

.created-date {
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  font-size: small;
}

.role-centre {
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
}

.user-role-customer,
.user-role-employee,
.user-role-driver,
.user-role-manager {
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  font-size: small;
  color: white;
  border-radius: 20px;
  width: 65%;
  padding: 0.3rem;
}

.table-e-header:nth-child(6),
.table-e-cell:nth-child(6),
.table-e-header:nth-child(7),
.table-e-cell:nth-child(7),
.table-e-header:nth-child(8),
.table-e-cell:nth-child(8),
.table-e-header:nth-child(9),
.table-e-cell:nth-child(9) {
  text-align: center;
}

.table-e-cell:nth-child(1),
.table-e-cell:nth-child(2),
.table-e-cell:nth-child(3),
.table-e-cell:nth-child(4),
.table-e-cell:nth-child(5),
.table-e-cell:nth-child(6) {
  position: relative;
  top: 10px;
}

.user-role-customer {
  background: linear-gradient(to right, #00d2ff, #3a7bd5);
}
.user-role-employee {
  background: linear-gradient(to right, #870000, #190a05);
}
.user-role-driver {
  background: linear-gradient(to right, #de6262, #ffb88c);
}
.user-role-manager {
  background: linear-gradient(to right, #649173, #dbd5a4);
}

.user-image {
  width: 100%;
  height: auto;
  align-items: center;
  scale: 90%;
  border-radius: 10px;
}

.order-tb {
  border-top: 1px solid #dee2e6;
  background-color: white;
}

.preferences {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #dee2e6;
  border-top: 1px solid #dee2e6;
  width: 100%;
}

.search-input input,
.search-input img {
  outline: none;
  border: none;
  background-color: transparent;
}
.preferences-img {
  display: flex;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  column-gap: 10px;
}

.preferences-img img:hover {
  cursor: pointer;
  scale: 110%;
}
.preferences-img img:active {
  scale: 125%;
}

.preferences {
  padding-left: 0.4rem;
  padding-right: 0.4rem;
}

.search-ic {
  position: relative;
  top: -2px;
  justify-content: center;
}

.search-input {
  display: flex;
  flex-direction: row;
  margin: 0.4rem;
  font-size: small;
  padding: 0.4rem;
  border-radius: 20px;
  background-color: #f1f0f5;
}
.search-input img {
  width: 100%;
}

.search-input img:hover {
  scale: 105%;
}
.search-bt {
  outline: none;
  border: none;
  background: transparent;
  background-color: transparent;
  align-items: center;
  text-align: center;
}

.preferences-img img:hover {
  cursor: pointer;
  scale: 110%;
}

.preferences-img img:active {
  scale: 125%;
}

.calendar-icon {
  margin-top: -1rem;
  width: 10%;
}

.edit-centre {
  display: flex;
  justify-content: center;
}

.box-edit-bt {
  display: flex;
  justify-content: center;
  column-gap: 5px;
  text-align: center;
  border-radius: 10px;
  padding: 0.5rem 0 0.5rem 0;
  width: 50%;
  background-color: #f2f2f2;
}

.box-edit-bt:hover {
  cursor: pointer;
}

.edit-bt,
.delete-bt,
.read-orders-bt {
  font-size: 0.8rem;
  font-weight: 400;
}

.edit-bt {
  border: none;
  border-radius: 20px;
}

.box-edit-bt:active,
.edit-bt:active {
  scale: 102%;
  background-color: #f6f6f6;
}

.box-delete-bt {
  display: flex;
  justify-content: center;
  column-gap: 5px;
  text-align: center;
  border-radius: 10px;
  padding: 0.5rem;
  width: 45%;
  background-color: #ffcccc;
}

.delete-bt {
  border: none;
  background-color: transparent;
}

.delete-bt:active,
.box-delete-bt:active {
  scale: 102%;
  opacity: 90%;
}

.box-readorder-bt {
  display: flex;
  justify-content: center;
  column-gap: 5px;
  text-align: center;
  border-radius: 10px;
  padding: 0.5rem 1rem 0.5rem 1rem;
  white-space: nowrap;
  width: 55%;
  background-color: #d3eddf;
}

.read-orders-bt {
  border: none;
  background-color: transparent;
}

.read--ordersbt:active,
.box-readorder-bt:active {
  scale: 102%;
  opacity: 90%;
}

button:hover {
  cursor: pointer;
}

.date-centre {
  display: flex;
  justify-content: center;
  column-gap: 10px;
}
